<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immergiti in questo mondo</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">

    <!--
    <script src="node_modules/gsap/dist/gsap.min.js" defer></script>
    <script src="libs/gsap/ScrollSmoother.min.js" defer></script>
    <script src="node_modules/gsap/dist/ScrollTrigger.min.js" defer></script>
    -->
    
    <script src="/static/js/script.js" defer></script>
</head>
<!--<body onload="task6()">-->
<body onload="task6()">
    <div class="full-screen-background">
        <header>  
            <div class="layers">
                <div class="layer_header">
                    
                    <div class="later_header_naming">

                        <div class="logo">
                            <a href="/">
                                <img class="logo-img" src="/static/img/logo/logo_black.png" alt="Здесь должен быть логотип">
                            </a>
                        </div>
                        <div class="layers_title">
                            <br>
                            <p>Immergiti in questo </p>
                            mondo
                        </div>
                    </div>

                    <nav>
                        <div class="nav-but aquariums dropdown">
                            <button class="dropdown-button glass" onclick="window.location.href='/aquariums';">Океанариумы</button>
                            <div class="dropdown-content ">
                                <a href="/aquariums#aqm_1">Ripley's Aquarium Of Canada, Канада</a>
                                <a href="/aquariums#aqm_2">Монтерей-Бей, США</a>
                                <a href="/aquariums#aqm_3">Океанариум в Сиднее, Австралия</a>
                                <a href="/aquariums#aqm_4">Океанариум Джорджии, США</a>
                            </div>
                        </div>
                        <div class="nav-but dayving dropdown">
                            <button class="dropdown-button glass" onclick="window.location.href='/dayving';">Дайвинг</button>
                            <div class="dropdown-content">
                                <a href="/dayving#dyng_1">Большой Барьерный Риф</a>
                                <a href="/dayving#dyng_2">Голубая дыра</a>
                                <a href="/dayving#dyng_3">Корраловый риф Туббатаха</a>
                            </div>
                        </div>
                        <div class="nav-but contacts dropdown">
                            <button class="dropdown-button glass">Заказы</button>
                            <div class="dropdown-content">
                                <a href="/form_dvg#form_dvg">Разовый дайвинг</a>
                                <a href="/form_hotel_brn#form_hotel_brn">Бронь отелей</a>
                                <a href="/form_dvg_abt#form_dvg_abt">Абонемент</a>
                            </div>
                        </div>
                        <div class="nav-but login-reg">
                            <button class="glass" onclick="window.location.href='/login';">Вход/Регистрация</button>
                        </div>
                    </nav>
                </div>
            
                <div class="layer layers_sea_src" style="background-image: url(/static/img/main-fons/sea.png);"></div>
                <div class="layer layers_sky" style="background-image: url(/static/img/main-fons/pho-p_exports_sea/sky.png);"></div>
                <div class="layer layers_earth" style="background-image: url(/static/img/main-fons/pho-p_exports_sea/earth.png);"></div>
                <div class="layer layers_sea_3" style="background-image: url(/static/img/main-fons/pho-p_exports_sea/sea_3.png);"></div>
                <div class="layer layers_sea_2" style="background-image: url(/static/img/main-fons/pho-p_exports_sea/sea_2.png);"></div>
                <div class="layer layers_sea_1" style="background-image: url(/static/img/main-fons/pho-p_exports_sea/sea_1.png);"></div>
                
            </div>
        </header>

        <article class="main-article">

            <div class="layer whale-part layers_fon_whale" style="background-image: url(/static/img/main-fons/pho-p_exports_whale/fon.png);"></div>
            <div class="layer whale-part layers_tail_whale" style="background-image: url(/static/img/main-fons/pho-p_exports_whale/tail.png);"></div>
            <div class="layer whale-part layers_second_part_of_belly" style="background-image: url(/static/img/main-fons/pho-p_exports_whale/second_part_of_belly.png);"></div>
            <div class="layer whale-part layers_first_part_of_belly" style="background-image: url(/static/img/main-fons/pho-p_exports_whale/first_part_of_belly.png);"></div>
            <div class="layer whale-part layers_else_whale" style="background-image: url(/static/img/main-fons/pho-p_exports_whale/else.png);"></div>    
            <div class="main-article_content">
                <h2 class="main-article_header">Немного О Нас</h2>
                <pre class="main-article_paragraph">  
                        
                    
                        


                Компания Immergiti была основана в 2010 году 
            Марком Росси и Анной Бьянки. Начав 
            с экспедиции на Большой

            

                </pre>
                <pre  class="main-article_paragraph" style="margin-top: calc(var(--index) * 2);">
            Барьерный риф, 
            они стремились объединить 
            подводный туризм и экологическое 
            образование. В 2012 году открылся 
            первый центр на Мальдивах, а в 2014 — у Голубой 
            дыры в Белизе. В 2016 году компания запустила онлайн-платформу             для бронирования, а в 2017 
            году — партнёрские программы с крупнейшими океанариумами. К 2019         году компания создала 
            образовательную платформу, а в 2021 — внедрила VR-технологии для            виртуальных погружений.
            СегодняImmergiti — лидер подводного туризма и образовательных             программ.
        
                </pre>
            </div>
        </article>
        
        <div class="content">
            <main class="main_container">
                <!--
                <div class="map">
                    <svg viewBox="0 0 1000 500" style="width: 100%;">
                        <image href="img/world map/karta-mira.jpg" width="1000" height="500" />
                        <circle cx="580" cy="250" r="10" fill="white" />
                        <circle cx="740" cy="340" r="10" fill="white" />
                        <circle cx="820" cy="160" r="10" fill="white" />
                        <text x="580" y="250" fill="black">Голубая дыра, Белиз</text>
                      </svg>
                </div>
                -->
            </main>
        </div>

        <footer>
            <div class="layers layers_footer">
                <div class="footer_information">
                </div>

                <div class="layer layers_man_fon" style="background-image: url(/static/img/main-fons/pho-p_exports_man/fon.png);"></div>
                <div class="layer layers_man_dark_version" style="background-image: url(/static/img/main-fons/pho-p_exports_man/man_dark_version.png);"></div>
                <div class="layer layers_back_rocks" style="background-image: url(/static/img/main-fons/pho-p_exports_man/back_rocks.png);"></div>
                <div class="layer layers_front_rocks" style="background-image: url(/static/img/main-fons/pho-p_exports_man/front_rocks.png);"></div>
                <div class="layer layers_face" style="background-image: url(/static/img/main-fons/pho-p_exports_man/face.png);"></div>                
                
                <div class="footer_content">

                    <div class="footer_paragraph_left">
                        <div class="left_footer_date" data-info="2010 — Основание компании «Immergiti»<br><br>•	Основана группой энтузиастов-дайверов во главе с Марком Росси и Анной Бьянки. Идея компании возникла после их совместной экспедиции к Большому Барьерному рифу, где они задумались о создании компании, объединяющей подводный туризм и образовательные проекты.">
                            <h4>•2010</h4>
                        </div>
                        <div class="left_footer_date" data-info="2012 — Открытие первого дайвинг-центра на Мальдивах<br><br>•	Открыв первый центр на Мальдивах, «Immergiti» предложила туристам эксклюзивные дайвинг-туры по уникальным маршрутам. Этот успех заложил основу для дальнейшего расширения компании.">
                            <h4>•2012</h4>
                        </div>
                        <div class="left_footer_date" data-info="2014 — Расширение в Белиз (Голубая дыра)<br><br>•	В 2014 году компания открыла второй центр у знаменитой «Голубой дыры» в Белизе, что стало важным шагом для выхода на международный рынок профессиональных дайверов. Центр стал популярным благодаря глубоководным погружениям.">
                            <h4>•2014</h4>
                        </div>
                        <div class="left_footer_date" data-info="2016 — Введение онлайн-платформы для бронирования туров<br><br>•	Запуск первой онлайн-платформы для бронирования дайвинг-туров по всему миру. Это нововведение позволило клиентам заранее планировать путешествия и получать доступ к эксклюзивным маршрутам.">
                            <h4>•2016</h4>
                        </div>
                    </div>
                
                    <div class="info">Наведите на дату</div>
                
                    <div class="footer_paragraph_right">
                        <div class="right_footer_date" data-info="2017 — Сотрудничество с крупнейшими океанариумами<br><br> •	«Immergiti» сотрудничает с океанариумами «Монтерей-Бей» и «Океанариум Джорджии» для создания образовательных программ и виртуальных подводных экскурсий. Это помогло компании выйти на новый уровень, охватив аудиторию, которая не занимается дайвингом.">
                            <h4>2017•</h4>
                        </div>
                        <div class="right_footer_date" data-info="2018 — Открытие нового направления в Австралии<br><br>•	В Австралии, рядом с крупнейшим океанариумом в Сиднее, был открыт центр «Immergiti». Он предлагает как традиционные, так и виртуальные туры, что привлекло множество новых туристов.">
                            <h4>2018•  </h4>
                        </div>
                        <div class="right_footer_date" data-info="2019 — Создание образовательной платформы<br><br>•	В 2019 году компания создала онлайн-академию, где пользователи могут проходить курсы по дайвингу, морской биологии и экологии. Это позволило расширить образовательное направление компании.">
                            <h4>2019•</h4>
                        </div>
                        <div class="right_footer_date" data-info="2021 — Внедрение виртуальной реальности (VR)<br><br>•	Компания запускает VR-туризм, позволяющий пользователям исследовать океаны с помощью VR-оборудования. Это инновационное решение открыло подводные глубины для людей, которые не могут заниматься настоящим дайвингом.">
                            <h4>2021•</h4>
                        </div>
                        <div class="right_footer_date" data-info="2023 — Глобальное признание и расширение<br><br>•	«Immergiti» открывает новые центры в Канаде (аквариум Рипли) и на Филиппинах (Туббатаха). Компания становится лидером на рынке подводного туризма и обучения.">
                            <h4>2023•</h4>
                        </div>

                    </div>
                    
                </div>
                <div class="copy_time">
                <div id="output6" onload="task6()">
                    
                </div>
                </div>
                <div class="copy">© Immergiti in questo mondo</div>
            </div>
        </footer>
        
    </div>

    <script type="text/javascript">
        function task6() {
            //alert(`Добро пожаловать на мою страницу\n\n\nПриветствуем вас в нашем туристическом агенстве`);
            let date = new Date();
            let days = ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота'];
            let months = ['января', 'февраля', 'марта', 'апреля', 'мая', 'июня', 'июля', 'августа', 'сентября', 'октября', 'ноября', 'декабря'];

            let formattedDate = `${days[date.getDay()]}, ${date.getDate()} ${months[date.getMonth()]} ${date.getFullYear()}
             года ${date.getHours()} час. ${date.getMinutes()} мин. ${date.getSeconds()} сек.`;
        
            document.getElementById('output6').innerHTML = `<div id="date">${formattedDate}</div>`;
        }
    </script>
</body>
</html>